recovery-password{

}
.icon-container{
    background-color: #efeff0;
    border: 1px solid #AFB186;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    align-self: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container i{
    font-size: 1.2rem;
    color: #68737d;
}